{% extends "base.html" %}

{% block content %}
<style>
    /* Container que ocupa a tela toda  */
    .sign-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Caixa preta do login */
    .sign-box {
        background-color: #000;
        padding: 40px;
        width: 350px;
        border-radius: 8px;
        color: #fff;
    }

    .sign-box h4 {
        text-align: center;
        margin-bottom: 25px;
    }

    .sign-box input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: none;
    }

    .sign-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .sign-actions button {
        padding: 8px 16px;
        border: none;
        cursor: pointer;
    }
</style>

<div class="sign-container">
    <form method="POST" class="sign-box">
        {% csrf_token %}

        <h4>Fazer cadastro</h4>

        <div class="form-group">
            {{user_form.username.errors}}
            <label>Usuário: </label>
            {{user_form.username}}
        </div>

        <div class="form-group">
            {{ user_form.password1.errors }}
            <label>Senha: </label>
            {{ user_form.password1 }}
        </div>

        <div class="form-group">
            {{ user_form.password2.errors }}
            <label>Confirmação de senha: </label>
            {{ user_form.password2 }}
        </div>

        <div class="cadastro-actions">
            <button type="button">Cancelar</button>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>

{%endblock%}